* {
	font-family: Arial, Verdana, sans-serif;
	color: blue;
	text-transform: center;}
#nav, #feature, .article, #footer {
	background-color: gray;
	margin-top: 20px;
	padding: 10px 0px 5px 0px;}
#feature, .article {
	height: 100px;}
li {
	display: inline;
	padding: 30px;}
